:root {
    --schoolbus: 255, 225, 000; /* #FFE100 */
    --carnation: 244, 066, 095; /* #F4425F */
    --malachite: 006, 216, 095; /* #06D85F */
    --cerulean: 000, 164, 228;  /* #00A4E4 */
    --vulcan: 016, 018, 029;    /* #10121D */
    --white: 255, 255, 255;     /* #FFFFFF */
    --black: 000, 000, 000;     /* #000000 */
}

/* #region document */

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    top: 0;
    left: 0;
}

body,
button,
input,
optgroup,
select,
textarea,
label,
span {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

/* #endregion */

/* #region page */

.wrapper.page {
    position: relative;
    height: 100%;
    width: 100%;
}

.wrapper.page .container {
    padding: 0;
    width: 100%;
    height: 100%;
}

#map-page {
    position: relative;
}

/* #endregion */

/* #region map */

#map {
    box-shadow: 0 0 10px 0px rgba(var(--black), .5);
    border-radius: 3px;
    overflow: hidden;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    top: 5px;
    left: 5px;
    position: relative;
}

/* #endregion */

/* #region ymaps */

[class^="ymaps-"][class*="balloon "] {
    padding: 0 !important;
    border-radius: 3px !important;
    box-shadow: 0 0 5px 0px rgba(var(--vulcan), .5) !important;
}

[class^="ymaps-"][class*="balloon__layout"] {
    border-radius: 3px !important;
}

[class^="ymaps-"][class*="copyrights-pane"] {
    display: none;
}

/* #endregion */

/* #region globals */

.hidden {
    display: none;
}

.visible {
    display: unset;
}

/* #endregion */

/* #region popup */

/* #region popup global */

.popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(var(--vulcan), .5);
}

.popup-wrapper .container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: rgba(var(--white), 1);
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(var(--vulcan), .5);
    display: grid;
    user-select: none;
    padding: 10px;
    width: 250px;
    grid-row-gap: 10px;
    z-index: 2;
    animation: popup-show .5s;
}

.popup-wrapper .container div {
    text-align: center;
    align-self: center;
    justify-self: center;
}

.popup-wrapper .title {
    grid-row: 1;
    align-self: center;
    justify-self: stretch;
    cursor: move;
    font-weight: bold;
    color: rgba(var(--vulcan), .8);
    font-size: 1.1rem;
}

.popup-wrapper .content {
    grid-row: 2;
    color: rgba(var(--vulcan), .4);
    font-size: .9rem;
}

.popup-wrapper .controls {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    font-size: .75rem;
}

.popup-wrapper .controls button {
    border-radius: 3px;
    color: rgba(var(--white), 1);
    cursor: pointer;
    transition: all .3s;
    padding: 10px 15px;
    text-transform: uppercase;
    border: none;
}

.popup-wrapper .controls button#primary {
    background-color: rgba(var(--carnation), .8);
}

.popup-wrapper .controls button#primary:hover {
    background-color: rgba(var(--carnation), 1);
}

.popup-wrapper .controls button#secondary {
    background-color: rgba(var(--vulcan), .3);
}

.popup-wrapper .controls button#secondary:hover {
    background-color: rgba(var(--vulcan), .5);
}

/* #endregion */

/* #region popup dialog-with-selection */

.popup-wrapper.dialog-with-selection .container {
    height: auto;
    min-height: 10vh;
    max-height: 50vh;
    grid-template-rows: 20px auto auto 35px;
    grid-row-gap: 10px;
}

.popup-wrapper.dialog-with-selection .selection-list {
    grid-row: 3;
    color: rgba(var(--vulcan), .8);
    font-size: .9rem;
    justify-self: center;
    align-self: stretch;
    overflow-y: auto;
    margin: 0;
}

.popup-wrapper.dialog-with-selection .selection-list .list-element {
    position: relative;
    cursor: pointer;
    text-align: left;
    margin: 10px 0;
    padding: 0;
}

.popup-wrapper.dialog-with-selection .selection-list .list-element .text {
    text-align: left;
    margin: 0 0 0 25px;
    border-radius: 3px;
    padding: 5px;
    transition: all .3s;
}

.popup-wrapper.dialog-with-selection .selection-list .list-element .checkbox {
    border: 1px solid rgba(var(--vulcan), .5);
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translatey(-50%);
    border-radius: 3px;
    transition: all .3s;
}

.popup-wrapper.dialog-with-selection .selection-list .list-element.selected .text {
    background-color: rgba(var(--carnation), 1);
    color: rgba(var(--white), 1);
}

.popup-wrapper.dialog-with-selection .selection-list .list-element.selected .checkbox {
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-color: rgba(var(--carnation), 1);
    transform: rotate(-45deg);
    animation: checkbox-arrow 0.3s forwards ease-in;
}

.popup-wrapper.dialog-with-selection .controls {
    grid-row: 4;
}

/* #endregion */

/* #region popup dialog */

.popup-wrapper.dialog .container {
    height: auto;
    grid-template-rows: repeat(3, auto);
}

.popup-wrapper.dialog .controls {
    grid-row: 3;
}

/* #endregion */

/* #region contextmenu */

.contextmenu {
    position: absolute;
    background-color: rgba(var(--white), 1);
    display: grid;
    grid-row-gap: 0;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(var(--vulcan), .3);
    animation: contextmenu-show .5s;
    padding: 3px 6px;
    grid-gap: 1.5px;
}

.contextmenu div:not(.divider) {
    display: grid;
    grid-template-columns: auto 24px;
    cursor: pointer;
}

.contextmenu div.divider {
    height: 0px;
    line-height: 0px;
    border-bottom: 1px solid rgba(var(--vulcan), .1);
}

.contextmenu div button {
    grid-column: 1;
    transition: all 0.3s;
    margin: 0 20px 0 0;
    color: rgba(var(--vulcan), .8);
    font-size: 13px;
    border: none;
    background-color: transparent;
    text-align: left;
    padding: 0;
    cursor: inherit;
}

.contextmenu div:hover button {
    color: rgba(var(--carnation), 1);
    transform: translatex(5px);
}

.contextmenu div i.icon {
    grid-column: 2;
    width: 24px;
    height: 24px;
    opacity: .7;
    background-color: rgba(var(--vulcan), 1);
    mask-size: 85%;
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-size: 85%;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}
.contextmenu div:hover i.icon {
    opacity: .9;
    background-color: rgba(var(--carnation), 1);
}

.contextmenu div#check i.icon {
    mask-image: url(../images/icons/g-location-on.svg);
    -webkit-mask-image: url(../images/icons/g-location-on.svg);
}

.contextmenu div#uncheck i.icon {
    mask-image: url(../images/icons/g-location-off.svg);
    -webkit-mask-image: url(../images/icons/g-location-off.svg);
}

.contextmenu div#complete i.icon {
    mask-image: url(../images/icons/g-location-fixed.svg);
    -webkit-mask-image: url(../images/icons/g-location-fixed.svg);
}

.contextmenu div#update i.icon {
    mask-image: url(../images/icons/g-edit.svg);
    -webkit-mask-image: url(../images/icons/g-edit.svg);
}

.contextmenu div#fix i.icon {
    mask-image: url(../images/icons/g-gps-fixed.svg);
    -webkit-mask-image: url(../images/icons/g-gps-fixed.svg);
}

.contextmenu div#delete i.icon {
    mask-image: url(../images/icons/g-delete.svg);
    -webkit-mask-image: url(../images/icons/g-delete.svg);
}

/* #endregion */

/* #endregion */

/* #region route node */

ymaps>div.wrapper {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px 10px;
}

ymaps>div.wrapper div {
    position: relative;
    width: calc(100% - 2px);
    border: 1px solid rgba(var(--vulcan), .2);
    border-radius: 3px;
    transition: all .5s;
}

ymaps>div.wrapper div:hover {
    background-color: transparent;
    border-color: rgba(var(--carnation), 1);
}

ymaps>div.wrapper div:hover label {
    border-color: transparent;
    background-color: rgba(var(--carnation), 1);
    color: white;
}

ymaps>div.wrapper div:hover input {
    color: rgba(var(--carnation), 1);
}

ymaps>div.wrapper div label {
    position: absolute;
    top: -10px;
    left: 5px;
    background-color: rgba(var(--white), 1);
    padding: 0 5px;
    border-radius: 3px;
    color: rgba(var(--vulcan), .5);
    transition: .5s;
    border: 1px solid rgba(var(--vulcan), .2);
    line-height: 18px;
    text-transform: lowercase;
}

ymaps>div.wrapper div input {
    border: none;
    outline: none;
    padding: 15px 5px 5px 5px;
    width: calc(100% - 10px);
    border-radius: 3px;
    background-color: transparent;
    color: rgba(var(--vulcan), .8);
    line-height: 15px;
}

ymaps>div.wrapper div.name {
    grid-area: 1 / span 3;
}

ymaps>div.wrapper div.description {
    grid-area: 2 / span 3;
}

ymaps>div.wrapper div.route-description {
    grid-area: 1 / span 3;
}

ymaps>div.wrapper div.cable-description {
    grid-area: 2 / span 3;
}

ymaps>div.wrapper div.cable-label-a {
    grid-area: 3 / 1;
}

ymaps>div.wrapper div.cable-label-b {
    grid-area: 3 / 2;
}

ymaps>div.wrapper div.cable-length {
    grid-area: 3 / 3;
}

ymaps>div.wrapper div.cable-cores {
    grid-area: 4 / 1;
}

ymaps>div.wrapper div.cable-type {
    grid-area: 4 / 3;
}

/* #endregion */

/* #region animation */

@keyframes popup-show {
    0% {
        top: 15%;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes contextmenu-show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes checkbox-arrow {
    0% {
        height: 0;
        width: 0;
    }
    50% {
        height: 10px;
        width: 0;
    }
    100% {
        height: 10px;
        width: 15px;
        top: 0;
    }
}

/* #endregion */

/*
    test this
        transform: translate3d(0,0,0);
        transition: opacity 250ms ease,visibility 250ms ease,transform 250ms cubic-bezier(.71,1.7,.77,1.24);
        transform: translate3d(0,20px,0);
*/